USE [master]
GO
/****** Object:  Database [WINRAP]    Script Date: 4/9/2026 1:18:24 PM ******/
CREATE DATABASE [WINRAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WINRAP', FILENAME = N'E:\Sql Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WINRAP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WINRAP_log', FILENAME = N'E:\Sql Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WINRAP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WINRAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WINRAP]
GO
/****** Object:  Table [dbo].[tblGhe]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGhe](
	[MaGhe] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NULL,
	[TenGhe] [nvarchar](10) NOT NULL,
	[MaLoaiGhe] [int] NULL,
	[Hang] [char](1) NULL,
	[Cot] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiemTichLuy] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiGhe]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiGhe](
	[MaLoaiGhe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiGhe] [nvarchar](50) NOT NULL,
	[GiaPhuThu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNguoiDung]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Quyen] [nvarchar](20) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhim]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhim](
	[MaPhim] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](250) NOT NULL,
	[MaTheLoai] [int] NULL,
	[ThoiLuong] [int] NOT NULL,
	[NgayPhatHanh] [date] NULL,
	[DaoDien] [nvarchar](150) NULL,
	[DienVien] [nvarchar](500) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhongChieu]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhongChieu](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](20) NULL,
	[TongSoGhe] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[SoHang] [int] NULL,
	[SoCot] [int] NULL,
	[MoTaKyThuat] [nvarchar](255) NULL,
	[ThoiGianDonDep] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSuatChieu]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSuatChieu](
	[MaSuatChieu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhim] [int] NULL,
	[MaPhong] [int] NULL,
	[NgayChieu] [date] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NULL,
	[GiaVeCoBan] [decimal](10, 2) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheLoai]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVe]    Script Date: 4/9/2026 1:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVe](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[MaSuatChieu] [int] NULL,
	[MaGhe] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](10, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblLoaiGhe] ON 

INSERT [dbo].[tblLoaiGhe] ([MaLoaiGhe], [TenLoaiGhe], [GiaPhuThu]) VALUES (1, N'Thường', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[tblLoaiGhe] ([MaLoaiGhe], [TenLoaiGhe], [GiaPhuThu]) VALUES (2, N'VIP', CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[tblLoaiGhe] ([MaLoaiGhe], [TenLoaiGhe], [GiaPhuThu]) VALUES (3, N'Sweetbox', CAST(50000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[tblLoaiGhe] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNguoiDung] ON 

INSERT [dbo].[tblNguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Quyen], [SoDienThoai], [TrangThai]) VALUES (1, N'admin', N'123', N'Quản trị viên', N'Quản trị', NULL, 1)
SET IDENTITY_INSERT [dbo].[tblNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTheLoai] ON 

INSERT [dbo].[tblTheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (1, N'Hành động', NULL)
INSERT [dbo].[tblTheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (2, N'Hoạt hình', NULL)
INSERT [dbo].[tblTheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (3, N'Kinh dị', NULL)
SET IDENTITY_INSERT [dbo].[tblTheLoai] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblKhach__0389B7BD51FC871D]    Script Date: 4/9/2026 1:18:25 PM ******/
ALTER TABLE [dbo].[tblKhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblNguoi__55F68FC02DC7A1A3]    Script Date: 4/9/2026 1:18:25 PM ******/
ALTER TABLE [dbo].[tblNguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblKhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[tblKhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[tblLoaiGhe] ADD  DEFAULT ((0)) FOR [GiaPhuThu]
GO
ALTER TABLE [dbo].[tblNguoiDung] ADD  DEFAULT (N'Nhân viên') FOR [Quyen]
GO
ALTER TABLE [dbo].[tblNguoiDung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblPhim] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblPhongChieu] ADD  CONSTRAINT [DF_tblPhongChieu_TrangThai]  DEFAULT (N'Sẵn sàng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblPhongChieu] ADD  DEFAULT ((10)) FOR [SoHang]
GO
ALTER TABLE [dbo].[tblPhongChieu] ADD  DEFAULT ((12)) FOR [SoCot]
GO
ALTER TABLE [dbo].[tblPhongChieu] ADD  DEFAULT ((15)) FOR [ThoiGianDonDep]
GO
ALTER TABLE [dbo].[tblSuatChieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblVe] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[tblVe] ADD  DEFAULT (N'Đã thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblGhe]  WITH CHECK ADD FOREIGN KEY([MaLoaiGhe])
REFERENCES [dbo].[tblLoaiGhe] ([MaLoaiGhe])
GO
ALTER TABLE [dbo].[tblGhe]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[tblPhongChieu] ([MaPhong])
GO
ALTER TABLE [dbo].[tblPhim]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[tblTheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[tblSuatChieu]  WITH CHECK ADD FOREIGN KEY([MaPhim])
REFERENCES [dbo].[tblPhim] ([MaPhim])
GO
ALTER TABLE [dbo].[tblSuatChieu]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[tblPhongChieu] ([MaPhong])
GO
ALTER TABLE [dbo].[tblVe]  WITH CHECK ADD FOREIGN KEY([MaGhe])
REFERENCES [dbo].[tblGhe] ([MaGhe])
GO
ALTER TABLE [dbo].[tblVe]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tblKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tblVe]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[tblNguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[tblVe]  WITH CHECK ADD FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[tblSuatChieu] ([MaSuatChieu])
GO
USE [master]
GO
